
@{
    ViewBag.Title = "Hakkımızda";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />


</head>
<body>


    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3><b>ABC KİTAP</b></h3>
                İstanbul’un Kadıköy, Avcılar, Sarıyer ve Beşiktaş ilçelerinde yaşayıp uzun yıllar boyunca kitabevi işleten dört arkadaşın, sahibi oldukları kitabevlerini birleştirip tek marka haline gelmesiyle doğan ABC Kitap, değişen ve gelişen teknoloji ile sosyal şartlara bağlı olarak satışlarında; kitabevlerindeki elden satışla sınırlı kalmayıp, kitaplarını dört kitabevinin de dâhil olduğu bir yelpaze içinde internet üzerinden okuyucuya ulaştırmak için 2004 yılında ortak sermayeyle kurulmuştur.

            </div>

            <div class="col-md-9">
                <br />
                <h4><b>MAĞAZALARIMIZ</b></h4>
                <br />
                <h5><b>Kadıköy ABC Mağazamız</b></h5>
                7000 m2 alana sahip ABC Kitap Kadıköy Şubesi, Dayı İş Merkezinde kitapseverlere hizmet vermeye devam etmektedir. ABC Kitap markasının ilk mağazası ve İstanbul’un en büyük kitabevi olarak da ayrı bir öneme sahiptir.
                <br />
                <h5><b>Avcılar ABC Mağazamız</b></h5>
                2500 m2 alana sahip ... Kitap Avcılar Şubesi, Avcılar’ın en işlek caddesi üzerine kurulmuş olup şehrin birçok alanından insanın buluşma noktası olmuştur. Türkiye’nin en çok çeşide sahip kitabevi olma özelliğini de elinde bulunduran Avcılar Şubemiz, cafe bölümüyle de eşsiz lezzetleri, benzersiz bir atmosferde birleştiriyor.
                <br />
                <h5><b>Sarıyer ABC Mağazamız</b></h5>
                Sarıyer’in en büyük kitabevi ünvanını elinde bulunduran ABC Kitap Sarıyer Şubesi, 5000 m2 alanda 500 bin çeşit, 5 milyon kitapla İstanbul’lulara üstün hizmet sunmaktadır. Kafe bölümüyle Türk ve dünya mutfaklarından özel lezzetleri misafirleriyle buluşturmaktadır.
                <br />
                <h5><b>Beşiktaş ABC Mağazamız</b></h5>
                3000 m2 alana sahip ABC Kitap Beşiktaş Şubesi, Selvi İş Merkezinde kitapseverlere hizmet vermeye devam etmektedir. ABC Kitap Beşiktaş Şubesi Kafe bölümüyle Türk ve dünya mutfaklarından özel lezzetleri misafirleriyle buluşturmaktadır.
            </div>

        </div>
    </div>
</body>
</html>

