
@{
    ViewBag.Title = "İletişim";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />


</head>
<body>


    <div class="container">
        <div class="row">


            <div class="col-md-9">

                <br />
                <h4><b>Kadıköy Şubesi</b></h4>
                <br />
                <span class="icon-location-maps" aria-hidden="true"></span><b>Şube Adresi:</b> Cengiz Topel Caddesi No:1974 Kadıköy/İstanbul
                <br />
                <span class="icon icon-social-email" aria-hidden="true"></span> <b>Mail Adresi:</b>abckitapkadiköy@abc.com
                <br />
                <span class="icon icon-telephone" aria-hidden="true"></span> <b>Telefon:</b> 0216-598-4545
                <br />
                <br />
                <h4><b>Avcılar Şubesi</b></h4>
                <br />
                <span class="icon-location-maps" aria-hidden="true"></span><b>Şube Adresi:</b> Sabiha Gökçen Caddesi No:1936 Kadıköy/İstanbul
                <br />
                <span class="icon icon-social-email" aria-hidden="true"></span> <b>Mail Adresi:</b>abckitapavcilar@abc.com
                <br />
                <span class="icon icon-telephone" aria-hidden="true"></span> <b>Telefon:</b> 0212-597-4545
                <br />
                <br />
                <h4><b>Beşiktaş Şubesi</b></h4>
                <br />
                <span class="icon-location-maps" aria-hidden="true"></span><b>Şube Adresi:</b> Mehmet Gönenç Caddesi No:1951 Beşiktaş/İstanbul
                <br />
                <span class="icon icon-social-email" aria-hidden="true"></span> <b>Mail Adresi:</b>abckitapbesiktas@abc.com
                <br />
                <span class="icon icon-telephone" aria-hidden="true"></span> <b>Telefon:</b> 0212-536-4545
                <br />
                <br />
                <h4><b>Sarıyer Şubesi</b></h4>
                <br />
                <span class="icon-location-maps" aria-hidden="true"></span><b>Şube Adresi:</b>  Nihat İlhan Caddesi No:1963 Sarıyer/İstanbul
                <br />
                <span class="icon icon-social-email" aria-hidden="true"></span> <b>Mail Adresi:</b>abckitapsariyer@abc.com
                <br />
                <span class="icon icon-telephone" aria-hidden="true"></span> <b>Telefon:</b> 0212-526-4545
                <br />
                <br />

                <br />

            </div>

        </div>
    </div>
</body>
</html>
